@import './Base.less';

.enter-container {
    color: @yellow;
    margin-left: 20%;
    margin-right: 20%;
}

.enter-title {
    font-family: 'Fell SC';
    text-align: center;
    font-size: 24px;
    margin-top: 200px;
}

input[type="text"] {
    width: 100%;
    margin-top: 9px;
    height: 45px;
    border-radius: 8px;
    background-color: @bg-text;
    border: 2px solid @yellow;
    box-shadow: 0px 6px 8px black;
    color: @yellow;
    text-align: center;
    font-family: 'Fell';
    font-size: 26px;
}

input[type="text"]:focus {
    outline: none;
}

.enter-container .button {
    margin-top: 60px;
    width: 100%;
}